{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "<Azure Storage Connection String>",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "SendGridApiKey": "<Api Key for SendGrid>"
    }
}